@import url('syntax.css');
@import url('cpu.css');
@import url('mem.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #1e1e1e;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(168, 168, 168);
}

p {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(168, 168, 168);
}

