.keyword { color: #569cd6; }
.comment { color: #6a9955; }
.register { color: #9cdcfe; }
.number { color: #b5cea8; }
.brackets { color: #b1b1b1;}
.label-call {color: #dcdcaa;}
.label { color: #dcdcaa;}